<!DOCTYPE html >
<html>
	<head><title>R: Prices of 50,000 round cut diamonds</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<% //<link rel="stylesheet" type="text/css" href="R.css"> %>

	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	
	<script src="routes/index"></script>
	
	<% // D3 module and my js drawings %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
	
	//<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="/routes/index.js"></script>
		<div class="container">
			<div class="container round-container align-left">
				<div class="">
					<h3>Display diamond</h3>
					<p>Diamond id <input id="showDiamondId" type="text"></p>
					<input id="showButton" class="btn btn-default btn-md" type="button" value="Show">
				</div>
			</div>
			
			<div class="container round-container align-right">
				<div class="">
					<h3>Delete diamond from db</h3>
					<p>Diamond id <input id="deleteDiamondId" type="text"></p>
					<input id="deleteButton" class="btn btn-default btn-md" type="button" value="Delete">
				</div>
			</div>
				</head>
				
				
				
	
	<body>
			
			<div class="container round-container align-left">
				
					<h3>Insert diamond into db</h3>
				
				<div class="container">				
					<div class="row">
						<div class="haha">_id</div>
						<div class="haha"><input id="postid" type="text" name="_id" value="0.24"></div>
					</div>
					
					<div class="row">
						<div class="haha">Organisation</div>
						<div class="haha"><input id="postorg" type="text" name="Organisation" value="Very Good"></div>
					</div>
					
					<div class="row">
						<div class="haha">Name</div>
						<div class="haha"><input id="postname" type="text" name="Name" value="Y"></div>
					</div>
					
					<div class="row">
						<div class="haha">Address1</div>
						<div class="haha"><input id="postadd1" type="text" name="Address1" value="SI1"></div>
					</div>
					
					<div class="row">
						<div class="haha">Address2</div>
						<div class="haha"><input id="postadd2" type="text" name="Address2" value="59.8"></div>
					</div>
					
					<div class="row">
						<div class="haha">Address3</div>
						<div class="haha"><input id="postadd3" type="text" name="Address3" value="55"></div>
					</div>
					
					<div class="row">
						<div class="haha">Address4</div>
						<div class="haha"><input id="postadd4" type="text" name="Address4" value="327"></div>
					</div>
					
					<div class="row">
						<div class="haha">ITMEast</div>
						<div class="haha"><input id="posteast" type="text" name="ITMEast" value="4.2"></div>
					</div>
					
					<div class="row">
						<div class="haha">ITMNorth</div>
						<div class="haha"><input id="postnorth" type="text" name="ITMNorth" value="4.35"></div>
					</div>
					
					<div class="row">
						<div class="haha"></div>
						<div class="haha"><input id="postInsert" class="btn btn-default btn-md" type="button" value="Insert"></div>
					</div>
				</div>
			</div>
			
			<div class="container round-container align-right">
				
					<h3>Update diamond in db</h3>
					
					<div class="container">				
					<div class="row">
						<div class="haha">_id</div>
						<div class="haha"><input id="putid" type="text" name="_id" value="0.24"></div>
					</div>
					
					<div class="row">
						<div class="haha">Organisation</div>
						<div class="haha"><input id="putorg" type="text" name="Organisation" value="Very Good"></div>
					</div>
					
					<div class="row">
						<div class="haha">Name</div>
						<div class="haha"><input id="putname" type="text" name="Name" value="Y"></div>
					</div>
					
					<div class="row">
						<div class="haha">Address1</div>
						<div class="haha"><input id="putadd1" type="text" name="Address1" value="SI1"></div>
					</div>
					
					<div class="row">
						<div class="haha">Address2</div>
						<div class="haha"><input id="putadd2" type="text" name="Address2" value="59.8"></div>
					</div>
					
					<div class="row">
						<div class="haha">Address3</div>
						<div class="haha"><input id="putadd3" type="text" name="Address3" value="55"></div>
					</div>
					
					<div class="row">
						<div class="haha">Address4</div>
						<div class="haha"><input id="putadd4" type="text" name="Address4" value="327"></div>
					</div>
					
					<div class="row">
						<div class="haha">ITMEast</div>
						<div class="haha"><input id="puteast" type="text" name="ITMEast" value="4.2"></div>
					</div>
					
					<div class="row">
						<div class="haha">ITMNorth</div>
						<div class="haha"><input id="putnorth" type="text" name="ITMNorth" value="4.35"></div>
					</div>
					
					<div class="row">
						<div class="haha"></div>
						<div class="haha"><input id="putUpdate" class="btn btn-default btn-md" type="button" value="update"></div>
					</div>
				</div>
			</div>

	
	<div id="dialog" title="Diamond">
		<div id="dialog-text" class="align-left"></div>
		<div id="dialog-d3" class="align-right">
			<% // <div id="Stats-output"></div> %>
		</div>
	</div>
	<script type="text/javascript">
		$("#showButton").click(function(event){
		
			$.ajax({
				url: '/school',
				type: 'POST',
				data: 'ITMEast=' + $("#showDiamondId").val(),
				success: function(data) {
					var msg = "";
					if (data == "Error"){
						msg = "This record doesn't exists...";
						alert(msg);	
					}						
					else {
						msg = 	"_id:" + data._id + "<br/>"
								+ "Organisation : " + data.Organisation + "<br/>"
								+ "Name : " + data.Name + "<br/>"
								+ "Address1 : " + data.Address1 + "<br/>"
								+ "Address2 : " + data.Address2 + "<br/>"
								+ "Address3: " + data.Address3 + "<br/>"
								+ "Address4 : " + data.Address4 + "<br/>"
								+ "ITMEast: " + data.ITMEast + "<br/>"
								+ " ITMNorth: " + data.ITMNorth + "<br/>";
					$("#dialog-text").html(msg);
					$("#dialog").dialog("open");
					}
										
				}
			});
		
		});
		
		$("#postInsert").click(function(event){
		$.ajax({
			url: '/POST',
			type: 'POST',
			data: 
					'Organisation=' + $("#postorg").val()
					+ '&Name=' + $("#postname").val()
					+ '&Address1=' + $("#postadd1").val()
					+ '&Address2=' + $("#postadd2").val()
					+ '&Address3=' + $("#postadd3").val()
					+ '&Address4=' + $("#postadd4").val()
					+ '&ITMEast=' + $("#posteast").val()
					+ '&ITMNorth=' + $("#postnorth").val()
			,success: function(data) {
				var msg = 	"<strong>The new school inserted.</strong><br/>school id:" + data._id + "<br/>"
								
								+ "Organisation : " + data.Organisation + "<br/>"
								+ "Name : " + data.Name + "<br/>"
								+ " Address1 : " + data.Address1 + "<br/>"
								+ "Address2 : " + data.Address2 + "<br/>"
								+ "Address3 : " + data.Address3 + "<br/>"
								+ "Address4 : " + data.Address4 + "<br/>"
								+ "ITMEast : " + data.ITMEast+ "<br/>"
								+ "ITMNorth : " + data.ITMNorth + "<br/>";
								console.log(msg);
								
			}
		});
	});
	</script>
	</body>
</html>


